.row
  .six.columns.centered.content-centered
    .medium.btn.primary
      a(href='/auth/underarmour') Sign in with Under Armour
    br
    br
    .medium.btn.primary
      a(href='/auth/strava') Sign in with Strava