extends base

block content
  if user
    .row
      h2 Hi #{user.name}
  else
    .row
      .six.columns.centered.content-centered
        .medium.btn.primary
          a(href='/auth/mapmyfitness') Sign in with MapMyFitness