.content-centered {
  text-align: center;
}

.full-height {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.spinner-container {
  position: relative;
  background-color: rgba(50, 50, 50, 0.5);
}

.app {

}

.app .left {
  width: 500px;
  float: left;
  overflow-y: auto;
}

.app .left h3 {
  text-align: center;
}

.app .left .prevnext {
  text-align: center;
  margin-bottom: 20px;
}

.app .left .prevnext .prev {
  margin-right: 10px;
}

.app .right {
  margin-left: 500px;
  position: relative;
}

.app .right .spinner-container {
  z-index: 400;
  display: none;
}

.app .right .metrics, .app .right .metric-picker {
  position: absolute;
  padding: 10px;
  background-color: #4A4D50;
  margin: 10px;
  z-index: 390;
  border-radius: 2px;
  display: none;
}

.app .right .metrics {
  bottom: 0;
  left: 0;
  color: #fff;
}

.app .right .metrics p {
  margin-bottom: 5px;
  border-radius: 2px;
  padding: 2px 8px;
}

.app .right .metrics p:last-child {
  margin-bottom: 0;
}

.app .right .metric-picker {
  top: 0;
  right: 0;
}

.app .right .metric-picker label {
  display: block;
  color: #fff;
}

.app .right .metric-picker input {
  margin-right: 10px;
}

.workouts-table {
  border: none;
  margin-bottom: 0;
}

.workout-table .icon-check {
  color: #006600;
}

.workouts-table .icon-cancel {
  color: #990000;
}

.workouts-table tr {
  cursor: pointer;
}

.workouts-table thead tr {
  background-color: #b0b0b0;
}

.workouts-table tr:hover {
  background-color: #b0b0b0 !important;
}
