.content-centered {
  text-align: center;
}

.full-height {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.app {

}

.app .left {
  width: 500px;
  float: left;
  overflow-y: auto;
}

.app .right {
  margin-left: 500px;
  position: relative;
}

.app .right .spinner-container {
  display: none;
  position: relative;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 400;
}

.workouts-table {
  border: none;
}

.workout-table .icon-check {
  color: #006600;
}

.workouts-table .icon-cancel {
  color: #990000;
}

.workouts-table tr {
  cursor: pointer;
}

.workouts-table thead tr {
  background-color: #b0b0b0;
}

.workouts-table tr:hover {
  background-color: #b0b0b0 !important;
}