.content-centered {
  text-align: center;
}

.full-height {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.app {

}

.app .left {
  width: 500px;
  float: left;
  overflow-y: auto;
}

.app .right {
  margin-left: 500px;
}

.workout-table .icon-check {
  color: #006600;
}

.workout-table .icon-cancel {
  color: #990000;
}
